{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <title>个人主页</title>
    <link rel="stylesheet" href="{%static 'person/css/index.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/button.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/font-awesome.min.css'%}">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'person/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/wxz/index.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/wxz/base.css'%}">
    <script type="text/javascript" src="{%static 'person/js/index.js'%}"></script>

</head>
<body>
        <div class="banner" style="background-image: url({%static 'imgs/banner2.jpg'%});">
        <a href="/indexAfterLogin"><span>首页</span></a>
        <div class="search bar">
            <form>
                <input  placeholder="Git me！" name="cname" type="text">
                <button type="submit"></button>
            </form>
        </div>    
    </div>




        <div class="wbanner" style="background-image: url({%static 'person/imgs/cha/banner_top.jpg'%});">
      　　<section class="wbox">
        <div class="wavatar" style="background-image: url({%static person.personImage%});">
          <a href="#">
            <span>
              {{person.personName}}<br>
            </span>
          </a>
        </div>
        <ul class="wtexts">
          <p>{{person.personInfo}}</p>
        </ul>
        <div class="wtexts">
                <a href="/person/editPerson">编辑个人主页>></a>    
        </div>
      </section>
    </div>
    <div class="wtemplate">
      <div class="wbox">
        <ul>
         <li><a href="/person/personTrends">动态</a></li>
       <li><a href="/person/personIdea">想法</a></li>
       <li><a href="/person/personArticle">文章</a></li>
       <li><a href="/person/personCollection">收藏</a></li>
       <li><a href="/person/personFollow">关注</a></li>
       <li><a href="/person/personRecommend/">推荐</a></li>
        </ul>
      </div>
    </div>   



    <article>

        <div class="bloglist left">
            {%for p in presonFollowList%}
            <!--横条开始位置-->
            <div class="recom">
                
                <div class="ID">

                        <div class="head" id="div1">
                            <img src="{%static 'person/imgs/head.png'%}" alt="">

                              <div id="div2" class="box">
                                <div class="con-ret"></div>
                                <div class="con"><br>我是来充数的！<h3>没有签名</h3></div>
                              </div>
                        </div>

                        <h2>{{p.followee.personName}}</h2>

                </div>
                <!--此处是ＩＤ结束位置-->

                <div class="message">传奇游戏大家都喜欢特戒。前3个特戒，很轻松到手了，最难也就是充个VIP2，50块钱吧，也给的起。好了，到了第四个麻痹戒指
                </div>
                    <!--此处message结束-->
                <div style="position: relative;float:right; bottom: 50px;left: 250px;">
                      <!-- id该采取那个东西需要商讨 -->
                    <form action="/cancelFollow/{{p.followee.personID}}/" method="post">
                    {% csrf_token %}
                    <input type="submit" id="{{p.followee.personID}}" value="已关注" onmouseover="Overchange(this)" onmouseout="Outchange(this)"   onclick="Clikchange(this)" style="width: 78px; height: 32px; float: left; background: rgba(7,166,83,1); color: white; text-align: center; line-height: 32px; cursor: pointer; "> 
                    </form>           
                </div>
                    <!--这是关注结束位置-->

            </div>
            <!--这是横条结束位置--> 
            {%endfor%}         

        </div>
        <!--右边条幅栏目结束位置-->
            



      <aside class="right">
      
        <div class="weather" style="background-image: url({%static 'person/imgs/cha/weather_bg.jpg'%}); background-repeat: no-repeat;">
          <iframe width="250" scrolling="no" height="60" frameborder="0" 
          allowtransparency="true" >
          </iframe>
        </div>
          <div class="news">
            <h3>
              <p>最新<span>文章</span></p>
            </h3>
            <ul class="rank">
            <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
            <li><a href="/" title="with love for you 个人网站模板" target="_blank">with love for you 个人网站模板</a></li>
            <li><a href="/" title="免费收录网站搜索引擎登录口大全" target="_blank">免费收录网站搜索引擎登录口大全</a></li>
            <li><a href="/" title="做网站到底需要什么?" target="_blank">做网站到底需要什么?</a></li>
            <li><a href="/" title="企业做网站具体流程步骤" target="_blank">企业做网站具体流程步骤</a></li>
            <li><a href="/" title="建站流程篇――教你如何快速学会做网站" target="_blank">建站流程篇――教你如何快速学会做网站</a></li>
            <li><a href="/" title="box-shadow 阴影右下脚折边效果" target="_blank">box-shadow 阴影右下脚折边效果</a></li>
            <li><a href="/" title="打雷时室内、户外应该需要注意什么" target="_blank">打雷时室内、户外应该需要注意什么</a></li>
            </ul>
            <h3 class="ph">
            <p>点击<span>排行</span></p>
            </h3>
            <ul class="paih">
            <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
            <li><a href="/" title="withlove for you 个人网站模板" target="_blank">with love for you 个人网站模板</a></li>
            <li><a href="/" title="免费收录网站搜索引擎登录口大全" target="_blank">免费收录网站搜索引擎登录口大全</a></li>
            <li><a href="/" title="做网站到底需要什么?" target="_blank">做网站到底需要什么?</a></li>
            <li><a href="/" title="企业做网站具体流程步骤" target="_blank">企业做网站具体流程步骤</a></li>
            </ul>
            <h3 class="links">
            <p>友情<span>链接</span></p>
            </h3>
            <ul class="website">
            <li><a href="/">个人博客</a></li>
            <li><a href="/">谢泽文个人博客</a></li>
            <li><a href="/">3DST技术网</a></li>
            <li><a href="/">思衡网络</a></li>
            </ul> 
          </div>  
        
    </aside>
    </article>
    <footer>
      
    </footer>

    </article>

</body>

</html 