{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="stylesheet" href="{%static 'person/css/index.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/button.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/font-awesome.min.css'%}">
    <link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'person/css/style.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/wxz/index.css'%}">
    <link rel="stylesheet" href="{%static 'person/css/wxz/base.css'%}">    


</head>
<body>
    <div class="banner" style="background-image: url({%static 'imgs/banner2.jpg'%});">
        <a href="/indexAfterLogin"><span>首页</span></a>
        <div class="search bar">
            <form>
                <input  placeholder="Git me！" name="cname" type="text">
                <button type="submit"></button>
            </form>
        </div>    
    </div>

    <div class="wbanner" style="background-image: url({%static 'person/imgs/cha/banner_top.jpg'%});">
      　　<section class="wbox">
        <div class="wavatar" style="background-image: url({%static person.personImage%});">
          <a href="#">
            <span>
              {{person.personName}}
            </span>
          </a>
        </div>
        <ul class="wtexts">
          <p>{{person.personInfo}}</p>
        </ul>  
        <div class="wtexts">
                <a href="/person/editPerson">编辑个人主页>></a>    
        </div>
      </section>
    </div>
    <div class="wtemplate">
      <div class="wbox">
        <ul>
         <li><a href="/person/personTrends">动态</a></li>
       <li><a href="/person/personIdea">想法</a></li>
       <li><a href="/person/personArticle">文章</a></li>
       <li><a href="/person/personCollection">收藏</a></li>
       <li><a href="/person/personFollow">关注</a></li>
       <li><a href="/person/personRecommend/">推荐</a></li>
        </ul>
      </div>
    </div>    

    <article>

        <div class="bloglist left">

            <!--横条开始位置-->
            {%for dynamic in dynamicList%}
                 <div class="recom">
                    <div class="label"><span>动态</span></div>
                    <div class="ID">
                        <div class="head">
                            <img src="{%static person.personImage%}" alt="">
                        </div>
                    <h2>{{person.personName}}</h2>
                    </div>
                    <div class="message">
                      {{dynamic.content}}
                    </div>
                    <div class="functions">
                        <button title="点赞" class="button button-plain button-border button-circle  button-primary button-small"><i class="fa fa-thumbs-up"></i></button>
                         <a href="/indexComment/{{dynamic.dynamicID}}"><button title="评论" onclick="commentTanchu()" class="button button-large  button-plain button-border button-circle button-small" onmousedown = 'makeComments()'><i class="fa fa-envelope"></i>
                        </button></a>                
                        <button title="转发" class="button button-large button-plain button-border button-circle button-small"><i class="fa fa-reply"></i></button>
                        <button title="收藏" class="button button-large button-plain button-border button-circle button-small"><i class="fa fa-star"></i></button> 
                        <button title="参与想法" class="button button-large button-plain button-border button-circle button-small"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            {%endfor%}
            <!--这是横条结束位置-->
        </div>



      <aside class="right">
      
        <div class="weather" style="background-image: url({%static 'person/imgs/cha/weather_bg.jpg'%}); background-repeat: no-repeat;">
          <iframe width="250" scrolling="no" height="60" frameborder="0" 
          allowtransparency="true" >
          </iframe>
        </div>
          <div class="news">
            <h3>
              <p>最新<span>文章</span></p>
            </h3>
            <ul class="rank">
            <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
            <li><a href="/" title="with love for you 个人网站模板" target="_blank">with love for you 个人网站模板</a></li>
            <li><a href="/" title="免费收录网站搜索引擎登录口大全" target="_blank">免费收录网站搜索引擎登录口大全</a></li>
            <li><a href="/" title="做网站到底需要什么?" target="_blank">做网站到底需要什么?</a></li>
            <li><a href="/" title="企业做网站具体流程步骤" target="_blank">企业做网站具体流程步骤</a></li>
            <li><a href="/" title="建站流程篇――教你如何快速学会做网站" target="_blank">建站流程篇――教你如何快速学会做网站</a></li>
            <li><a href="/" title="box-shadow 阴影右下脚折边效果" target="_blank">box-shadow 阴影右下脚折边效果</a></li>
            <li><a href="/" title="打雷时室内、户外应该需要注意什么" target="_blank">打雷时室内、户外应该需要注意什么</a></li>
            </ul>
            <h3 class="ph">
            <p>点击<span>排行</span></p>
            </h3>
            <ul class="paih">
            <li><a href="/" title="Column 三栏布局 个人网站模板" target="_blank">Column 三栏布局 个人网站模板</a></li>
            <li><a href="/" title="withlove for you 个人网站模板" target="_blank">with love for you 个人网站模板</a></li>
            <li><a href="/" title="免费收录网站搜索引擎登录口大全" target="_blank">免费收录网站搜索引擎登录口大全</a></li>
            <li><a href="/" title="做网站到底需要什么?" target="_blank">做网站到底需要什么?</a></li>
            <li><a href="/" title="企业做网站具体流程步骤" target="_blank">企业做网站具体流程步骤</a></li>
            </ul>
            <h3 class="links">
            <p>友情<span>链接</span></p>
            </h3>
            <ul class="website">
            <li><a href="/">个人博客</a></li>
            <li><a href="/">谢泽文个人博客</a></li>
            <li><a href="/">3DST技术网</a></li>
            <li><a href="/">思衡网络</a></li>
            </ul> 
          </div>  
          <!-- Baidu Button BEGIN -->
          <div id="bdshare" class="bdshare_t bds_tools_32 get-codes-bdshare"><a class="bds_tsina"></a><a class="bds_qzone"></a><a class="bds_tqq"></a><a class="bds_renren"></a><span class="bds_more"></span><a class="shareCount"></a></div>
          <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
          <script type="text/javascript" id="bdshell_js"></script> 
          <script type="text/javascript">
      document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
           </script> 
          <!-- Baidu Button END -->   
          <a href="/" class="weixin"> </a>
    </aside>
    </article>
    <footer>
      
    </footer>



</body>
</html>