<html>
    <head>
    
    </head>
      <body background="protocol.jpg" >
        <div >
        <h2>仅供个人使用</h2><ol>
        <li>GitSpace提供的资源仅供您个人用于非商业性目的。</li>
        <li>您不得使用GitSpace提供的资源来销售产品或资源。</li>
        <li>您不得将GitSpace的资源索引，将其重新排版后挪作他用，或在您的网站上设立GitSpace产品主页或其他页面的镜像网页。</li>
        <li>如果您想将GitSpace服务用于商业目的，必须事先与GitSpace签定协议，有关详细信息，请与我们联系。</li>
        <li>您在此保证您不会以任何违反任何适用于您作为GitSpace产品服务的使用者的任何管辖地的法律或法规的方式使用GitSpace产品服务。</li>
        </ol>
        <h2>免责声明</h2><ol>
        <li>GitSpace对网站上所显示的信息或资料的准确性、内容、完整性、合法性、可靠性、可操作性或可用性不承担任何责任。</li>
        <li>GitSpace服务中的任何信息或材料的删除、存储失败、错误提供或未及时提供不承担任何责任。</li>
        <li>GitSpace其许可方不对通过GitSpace服务得到的或在其上刊登广告所推介的产品或服务、通过由GitSpace服务提供的任何链接而得到<br>的产品或服务，以及通过在GitSpace服务中所提供的任何链接而得到的任何信息或建议做任何担保。</li>
        <li>对因通过服务下载或访问网上的任何信息或材料而导致的任何伤害不承担任何责任。</li>
        <li>GitSpace服务包含的下载资源信息内的所有内容并不反映亦不代表任何GitSpace之意见。</li>
        <li>GitSpace作为模板共享网络服务提供者，对非法转载，盗版行为的发生不具备充分的监控能力。</li>
        <li>但是当版权拥有者提出侵权指控并出示充分的版权证明材料时，GitSpace负有移除盗版和非法转载作品以及停止继续传播的义务。</li>
        <li>GitSpace对他人在网站上实施的此类侵权行为不承担法律责任，侵权的法律责任概由会员本人承担。</li>
        <li>向GitSpace发布作品的作者视为同意GitSpace就前款情况采取的相应措施。</li>
        <li>GitSpace在满足前款条件下采取移除等相应措施后不为此向原发布人承担违约责任或其他法律责任，包括不承担因侵权指控不成立而给原发布人带来损害的赔偿责任。</li></ol>
        <h2>隐私条款</h2><ol>
        <li>GitSpace尊重并保护所有使用GitSpace服务的用户的个人隐私权GitSpace不会主动地泄露给第三方。</li>
        <li>本服务条款的解释权与修改权属于GitSpace。</li>
        </ol></div>

   </body>
</html>
